---

//Imports
import '../styles/global.css';

import Footer from '../layouts/Footer.astro';
import Navbar from '../layouts/Navbar.astro';

//Configurables
const pageTitle = "Template";
---

<html lang="en">
	<head>
		<!-- General HTML Setup -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicon Setup -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/appletouchicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon16x16.png">
		<link rel="icon" type="image/png" href="/assets/favicon.ico"/>
		<link rel="manifest" href="/assets/site.webmanifest">

		<!-- Astro Setup -->
		<meta name="generator" content={Astro.generator} />
		<title>M/S - {pageTitle}</title>

	</head>

	<Navbar path={pageTitle}/>

	<body>
		<div class="block">
			<h1>{pageTitle}</h1>
		</div>
	</body>
</html>
